/*/*Gérer le font du site*/ 
body{
	font-family:  Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:1.5;
	font: 15px/1.5;
	padding:0;
	margin:0;
}

/*taille global du site*/
.container{
	width:90%;
	margin:auto;
	overflow:hidden;
}
/*Gérer le bouton Submit*/
.button_1{
	height:25px;
	background:#833AB4;
	border:0;
	padding-left: 20px;
	padding-right: 20px;
	color:#ffffff;
}
/*Centrer home, about, sudmit au centre*/
ul{
	margin:0;
	padding:0;
}
/*Gérer le font taille et couleur*/
header{
	background-color:#f4f4f4;
	font: 100% Roboto, sans-serif;
	background-size: cover;
  	background-color: #1a1a1a;
  	color: #fefefe;
  	text-rendering: optimizeLegibility;
  	text-align: center;
}
/*Gérer la couleur et le style des boutons home about sudmit*/
header a{
	color:#ffffff;
	font-family:"street-art_2", sans-serif;
	text-decoration:none;
	text-transform: uppercase;
	font-size:22px;
}
/*Gérer l'alignement des bouton et enleve le .*/
header li{
	float:left;
	display:inline;
	padding: 0 300px 0 150px;
}

header #branding{
	float:left;
}

header #branding h1{
	margin:0;
}
/*Gérer la position des boutons home about sudmit*/
header nav{
	float:right;
	margin-top:10px;
}
/*Gérer les couleurs quand on appel les .blabla*/
header .highlight, header .current a{
	color:#405DE6;
	font-weight:bold; 
}

header .insta2{
	color:#5851DB;
	font-weight:bold; 
}

header .insta3{
	color:#833AB4;
	font-weight:bold; 
}
/*Gérer effet des boutons*/
header a:hover{
	color:#cccccc;
	font-weight:bold
}
/*Image principal*/
#showcase{
	min-height:1000px;
	background:url('../img/venom.jpg') no-repeat;
	text-align:center;
	color:#FFFFFF;
}
/*Gérer le texte sur l'image central*/
#showcase h1{
	margin-top:600px;
	font-size:90px;
	margin-bottom:10px;
	font-family:"street-art", sans-serif;
	color:#ffffff;
}
/*Gérer la taille du texte principal*/
#showcase p{
	font-size:20px;
}
/*Gérer la couleur et l'aparition de la box de l'email*/
#newsletter{
	padding:10px;
	color:#ffffff;
	background:#35424a
}
/*Gérer la taille du bloc de l'email*/
#newsletter h1{
	float:left;
}
/*Position du bloc Email*/
#newsletter form{
	float:right;
	margin-top:25px;
}
/*Taille et style de la demande d'email*/
#newsletter input[type="email"]{
	padding:4px;
	height:25px;
	width:250px;
}
/*Gérer l'espacement entre le bloc de l'email et les images*/
#boxes{
	margin-top:20px;
}
/*Gérer l'espacement entre charque boxes ainsi que leur emplacement*/
#boxes .box{
	float:left;
	text-align: center;
	width:33%;
	padding:10px;
}

#boxes .box a{
	font-family:"street-art", sans-serif;
	font-size: 40px;
}

#boxes .box_me a{
	font-family:"street-art", sans-serif;
	font-size: 40px;
}

#boxes .box_C3PO a{
	font-family:"street-art", sans-serif;
		font-size: 40px;
}

#boxes .box_me{
	float:left;
	text-align: center;
	width:33%;
	padding:10px;
}

#boxes .box_C3PO{
	text-align: center;
}

/*Gérer la taille des images de mes boxes*/
#boxes .box img{
	width:550px;
}

#boxes .box_me img{
	width:350px;
}

#boxes .box_C3PO img{
	width:450px;
}

/*Gérer le CopyRight*/
footer{
	padding:10px;
	margin-top:50px;
	color:#ffffff;
	background-color:#833AB4;
	text-align: center;
}

@font-face { /* Définition d'une nouvelle police*/
    font-family: 'street-art';
    src: url('../police//street.ttf');
}

@font-face {
    font-family: 'street-art_2';
    src: url('../police/Klaxons.otf');
}

@font-face {
    font-family: 'street-art_3';
    src: url('../police/art.ttf');
}